In [1]:
import numpy as np  # optional
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

2.3.3
{
  "system": {
    "commit": "9c8bc3e55188c8aff37207a74f1dd144980b8874",
    "python": "3.10.9",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "10",
    "Version": "10.0.26200",
    "machine": "AMD64",
    "processor": "Intel64 Family 6 Model 183 Stepping 1, GenuineIntel",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": "Korean_Korea",
      "encoding": "949"
    }
  },
  "dependencies": {
    "pandas": "2.3.3",
    "numpy": "2.2.6",
    "pytz": "2025.2",
    "dateutil": "2.9.0.post0",
    "pip": "25.2",
    "Cython": null,
    "sphinx": null,
    "IPython": "8.37.0",
    "adbc-driver-postgresql": null,
    "adbc-driver-sqlite": null,
    "bs4": "4.14.2",
    "blosc": null,
    "bottleneck": null,
    "dataframe-api-compat": null,
    "fastparquet": null,
    "fsspec": null,
    "html5lib": null,
    "hypothesis": null,
    "gcsfs": null,
    "jinja2": "3.1.6",
    "lxml.etree": null,
    "matplotlib": "3.10.7",
    "numba": null,
    "numexpr": null,
    "odfpy": null,
    "openpyxl": null,
    "pandas_gbq": null,
    "psycopg2": null,
    "pymysql": null,
    "pyarrow": null,
    "pyreadstat": null,
    "pytest": null,
    "python-calamine": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.15.3",
    "sqlalchemy": null,
    "tables": null,
    "tabulate": "0.9.0",
    "xarray": null,
    "xlrd": null,
    "xlsxwriter": null,
    "zstandard": null,
    "tzdata": "2025.2",
    "qtpy": null,
    "pyqt5": null
  }
}None

In [4]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

mylist = pd.Series(mylist)
myarr  = pd.Series(myarr)
mydict   = pd.Series(mydict)

print(myarr.info())

<class 'pandas.core.series.Series'>
RangeIndex: 26 entries, 0 to 25
Series name: None
Non-Null Count  Dtype
--------------  -----
26 non-null     int64
dtypes: int64(1)
memory usage: 336.0 bytes
None

In [8]:
# Series 
#index - value
# Dataframe 
#index - column  - value

s1 = pd.Series([10,20,30,40,50])
s1.mean()

np.float64(30.0)

In [9]:
s1.sum()

np.int64(150)

In [ ]:
s2 = pd.Series(["분식1","분식2","분3","분식ㄴㅇㄴ이","분식ㅇㄹ이","3","분2"],name="출석부")
s2   # 리스트나 딕셔너리로 시리즈를 구성할수있다

0       분식1
1       분식2
2        분3
3    분식ㄴㅇㄴ이
4     분식ㅇㄹ이
5         3
6        분2
Name: 출석부, dtype: object

In [12]:
s3 = pd.Series({"name":"김분식","age":30,"gender":"male","job":"분석가"})
s3

name       김분식
age         30
gender    male
job        분석가
dtype: object

In [ ]:
dic1 = {"name":"김분식","age":30,"gender":"male","job":"분석가"}
pd.Series(dic1)   # 리스트나 딕셔너리로 시리즈를 구성할수있다

name       김분식
age         30
gender    male
job        분석가
dtype: object

In [ ]:
s4 = pd.Series(["국어","수학","사화","과학"])
s4

0    국어
1    수학
2    사화
3    과학
dtype: object

In [ ]:
s4[0] #시리즈에있는 0번째 인덱스에 국어라는 값을 찾아와라

'국어'

In [17]:
s3

name       김분식
age         30
gender    male
job        분석가
dtype: object

In [ ]:
s3["name"]  #이건 네임을 값을 찾아라

'김분식'

In [ ]:
s4[2:] # 두번째부터 끝까지 범위의 데이터를 가져와라

2    사화
3    과학
dtype: object

In [ ]:
s4[:2] # 이건 반대

0    국어
1    수학
dtype: object

In [21]:
s3

name       김분식
age         30
gender    male
job        분석가
dtype: object

In [ ]:
s3 == "분석가"  # 분석가라는 데이터를 찾아오고싶다면 연산자로 활용해서 찾을수있다
# 분석가가 있는 위치에 트루를 반환

name      False
age       False
gender    False
job        True
dtype: bool

In [ ]:
s3[s3 == "분석가"]  # 분석가인 데이터를 가져와라  내부조건을 걸면 하나의 인덱스만 출력한다
# 시리즈는 데이터에 순서를 나타내는 데이터 구조다 데이터자료형

job    분석가
dtype: object