In [ ]:
import pandas as pd

#Dataframe


pd.DataFrame([10,20,30,40,50]) # 항목을 표시할수있는 형태로 데이터를 다뤄줄수있다

    0
0  10
1  20
2  30
3  40
4  50

In [ ]:
pd.DataFrame([[10,20,30,40,50],  
            ["철수","은히","민교","분식"]]) #이중 리스트형태로 데이터를 선언하면 행하나가 더 생김
                                        #프레임이 늘어나는 동시에 컬럼이 늘어남

    0   1   2   3     4
0  10  20  30  40  50.0
1  철수  은히  민교  분식   NaN

In [ ]:
df1 = pd.DataFrame([[10000,"과자1","2019-12-31","반품"],
                    [20000,"과자2","2020-09-31","정상"],
                    [30000,"아이스크림","2012-02-12","반품"],
                    [123000,"음료","2022-04-22","정상"]],
                    columns=["가격","종류","판매일자","반품여부"]) # 데이터프레임은 인덱스와 컬럼과 값들로 이루어져있다
df1

       가격     종류        판매일자 반품여부
0   10000    과자1  2019-12-31   반품
1   20000    과자2  2020-09-31   정상
2   30000  아이스크림  2012-02-12   반품
3  123000     음료  2022-04-22   정상

In [15]:
print(df1["가격"])  #시리즈형태로 보여줌 
print(df1["가격"].mean())
print(df1["가격"].sum())

0     10000
1     20000
2     30000
3    123000
Name: 가격, dtype: int64
45750.0
183000

In [16]:
df1["종류"]  # 각각의 컬럼의 데이터 타입들이 나옴

0      과자1
1      과자2
2    아이스크림
3       음료
Name: 종류, dtype: object

In [ ]:
df1[["가격"]] # 가로를 한개를하면 시리즈 형태로 가져오고 두개를 치면 데이터프레임으로 가져온다

       가격
0   10000
1   20000
2   30000
3  123000

In [ ]:
df1[["가격","반품여부"]] #여러개의 컬럼을 가져오려면 데이터프레임으로 감싸고 추출을 해야한다

       가격 반품여부
0   10000   반품
1   20000   정상
2   30000   반품
3  123000   정상