In [2]:
import pandas as pd
import openpyxl

In [8]:
df1 = pd.read_excel("Data05.xlsx")

df1.head()

,Unnamed: 0,0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,정상,...,불용,불용.1,불용.2,불용.3,합계,합계.1,합계.2,합계.3,Unnamed: 25,
0,구분,0,카테고리명,자재그룹,자재그룹명,제품코드,제품명,NaN,판매,2019-12-01 00:00:00,...,2019-12-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2019-12-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,안전재고,분류
1,구분,501,SSA,6132,청렴세제 오리지널,6068068,18청렴세제 리필4KG(GS리테일마,천원,0,0,...,98.8,0,0,0,98.8,0,0,0,0,E
2,구분,501,SSA,6132,청렴세제 오리지널,6073719,18청렴세제 1.5KG카툰,천원,0,0,...,393.7,0,0,0,393.7,0,0,0,0,E
3,구분,501,SSA,6132,청렴세제 오리지널,6075268,19청렴세제드럼 2.5KG리필,천원,10354.1,9474.3,...,6.4,0,6.4,0,9480.7,9741.7,6972,3368.2,0,A
4,구분,501,SSA,6132,청렴세제 오리지널,6075269,19청렴세제드럼 2.8KG카톤,천원,3543.3,7702.6,...,7.7,10.2,0,10.2,7710.3,6127.3,4009.9,2680.1,0,A

In [ ]:
df1= pd.read_excel("Data05.xlsx",skiprows=1)  #행하나 스킵하기

df1.columns    #데이터 구조 확인

Index([                   '구분',                       0,
                       '카테고리명',                  '자재그룹',
                       '자재그룹명',                  '제품코드',
                         '제품명',            'Unnamed: 7',
                          '판매',     2019-12-01 00:00:00,
           2020-10-01 00:00:00,     2020-11-01 00:00:00,
           2020-12-01 00:00:00, '2019-12-01 00:00:00.1',
       '2020-10-01 00:00:00.1', '2020-11-01 00:00:00.1',
       '2020-12-01 00:00:00.1', '2019-12-01 00:00:00.2',
       '2020-10-01 00:00:00.2', '2020-11-01 00:00:00.2',
       '2020-12-01 00:00:00.2', '2019-12-01 00:00:00.3',
       '2020-10-01 00:00:00.3', '2020-11-01 00:00:00.3',
       '2020-12-01 00:00:00.3',                  '안전재고',
                         ' 분류'],
      dtype='object')

In [16]:
df1.shape

(93, 27)

In [19]:
# df1.iloc[:,0] # 0번째컬럼의 모든데이터를 가져오겠다
df1.iloc[:,8:-2]

,판매,2019-12-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2019-12-01 00:00:00.1,2020-10-01 00:00:00.1,2020-11-01 00:00:00.1,2020-12-01 00:00:00.1,2019-12-01 00:00:00.2,2020-10-01 00:00:00.2,2020-11-01 00:00:00.2,2020-12-01 00:00:00.2,2019-12-01 00:00:00.3,2020-10-01 00:00:00.3,2020-11-01 00:00:00.3,2020-12-01 00:00:00.3
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98.8,0.0,0.0,0.0,98.8,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,393.7,0.0,0.0,0.0,393.7,0.0,0.0,0.0
2,10354.1,9474.3,9741.7,6965.7,3368.2,0.0,0.0,0.0,0.0,6.4,0.0,6.4,0.0,9480.7,9741.7,6972.0,3368.2
3,3543.3,7702.6,6117.1,4009.9,2669.8,0.0,0.0,0.0,0.0,7.7,10.2,0.0,10.2,7710.3,6127.3,4009.9,2680.1
4,234603.9,56309.6,78268.0,74942.2,84690.1,0.0,0.0,0.0,0.0,293.0,0.0,0.0,277.2,56602.6,78268.0,74942.2,84967.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,963.4,0.0,0.0,0.0,963.4,0.0,0.0,0.0
89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.5,0.0,0.0,0.0,6.5,0.0,0.0,0.0
91,0.0,0.0,0.0,0.0,0.0,243.8,0.0,0.0,0.0,609.5,0.0,0.0,0.0,853.4,0.0,0.0,0.0
92,181331.6,40207.8,107175.6,110209.3,43576.6,0.0,0.0,0.0,0.0,1249.7,0.0,0.0,425.6,41457.5,107175.6,110209.3,44002.2

In [ ]:
df1.iloc[:,8:-2].T  # 트렌스포즈 행과 열을  체인지

,0,1,2,3,4,5,6,7,8,9,...,83,84,85,86,87,88,89,90,91,92
판매,0.0,0.0,10354.1,3543.3,234603.9,3339.9,2616.8,16520.3,11722.5,100526.4,...,0.0,0.0,0.0,-28.7,0.0,0.0,0.0,0.0,0.0,181331.6
2019-12-01 00:00:00,0.0,0.0,9474.3,7702.6,56309.6,3181.8,24351.4,26129.3,26550.6,17334.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40207.8
2020-10-01 00:00:00,0.0,0.0,9741.7,6117.1,78268.0,7674.0,19767.5,35423.7,4279.6,32889.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107175.6
2020-11-01 00:00:00,0.0,0.0,6965.7,4009.9,74942.2,3710.2,18616.7,26476.3,15773.6,16821.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,110209.3
2020-12-01 00:00:00,0.0,0.0,3368.2,2669.8,84690.1,8294.9,17021.1,60737.0,8400.1,29712.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43576.6
2019-12-01 00:00:00.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,243.8,0.0
2020-10-01 00:00:00.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-01 00:00:00.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-12-01 00:00:00.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-12-01 00:00:00.2,98.8,393.7,6.4,7.7,293.0,0.0,0.0,112.5,36.1,298.1,...,14.7,1.6,47.1,7.8,64.3,963.4,3.0,6.5,609.5,1249.7
2020-10-01 00:00:00.2,0.0,0.0,0.0,10.2,0.0,6.0,0.0,0.0,0.0,27.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-01 00:00:00.2,0.0,0.0,6.4,0.0,0.0,179.1,0.0,0.0,216.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-12-01 00:00:00.2,0.0,0.0,0.0,10.2,277.2,0.0,117.7,0.0,0.0,37.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,425.6
2019-12-01 00:00:00.3,98.8,393.7,9480.7,7710.3,56602.6,3181.8,24351.4,26241.8,26586.7,17632.2,...,14.7,1.6,47.1,7.8,64.3,963.4,3.0,6.5,853.4,41457.5
2020-10-01 00:00:00.3,0.0,0.0,9741.7,6127.3,78268.0,7680.0,19767.5,35423.7,4279.6,32917.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107175.6
2020-11-01 00:00:00.3,0.0,0.0,6972.0,4009.9,74942.2,3889.3,18616.7,26476.3,15990.5,16821.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,110209.3
2020-12-01 00:00:00.3,0.0,0.0,3368.2,2680.1,84967.2,8294.9,17138.9,60737.0,8400.1,29750.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44002.2

In [ ]:
df2 = df1.iloc[:,8:-2]

df2.stack() # 컬럼으로 쌓기

0   판매                            0.0
    2019-12-01 00:00:00           0.0
    2020-10-01 00:00:00           0.0
    2020-11-01 00:00:00           0.0
    2020-12-01 00:00:00           0.0
                               ...
92  2020-12-01 00:00:00.2       425.6
    2019-12-01 00:00:00.3     41457.5
    2020-10-01 00:00:00.3    107175.6
    2020-11-01 00:00:00.3    110209.3
    2020-12-01 00:00:00.3     44002.2
Length: 1581, dtype: float64