In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv("Data01.csv")
df1.shape

df1.head()

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      15000 non-null  object
 1   상품명     15000 non-null  object
 2   바코드     14992 non-null  float64
 3   발주가능상태  15000 non-null  object
 4   입고수량    15000 non-null  int64
 5   카테고리    15000 non-null  object
 6   출고수량    15000 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 820.4+ KB

In [ ]:
df1.describe()   #수치형  연속형데이터 파악

In [10]:
df1["카테고리"].unique() #범주형 데이터 항목들

array(['세탁세제', '헤어케어', '주방세제', 'ST', 'F&B', '덴탈케어', '기타', '매입브랜드'],
      dtype=object)

In [ ]:
df1["카테고리"].value_counts() # 범주형 데이터 갯수

카테고리
세탁세제     4265
덴탈케어     3115
헤어케어     2750
ST       1732
주방세제     1709
F&B      1038
매입브랜드     238
기타        153
Name: count, dtype: int64

In [ ]:
df1["카테고리"].describe()  # 총 15000개   가장많은거 세탁세제  4264 개

count     15000
unique        8
top        세탁세제
freq       4265
Name: 카테고리, dtype: object

In [13]:
df1.head()

           날짜    상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
0  2019-05-16   V2_0  8.801047e+12   발주가능   384  세탁세제    72
1  2019-05-16   V2_3  8.801047e+12   발주가능   207  세탁세제     5
2  2019-05-16   V2_7  8.801047e+12   발주가능   520  헤어케어    19
3  2019-05-16  V2_11  8.801047e+12   발주가능     0  세탁세제     5
4  2019-05-16  V2_14  8.801046e+12   발주가능    96  세탁세제     1

In [ ]:
df1[["상품명","발주가능상태","카테고리"]].describe()  # 범주형 데이터 요약

           상품명 발주가능상태   카테고리
count    15000  15000  15000
unique     528      3      8
top     V2_114   발주가능   세탁세제
freq        47  14700   4265

In [ ]:
df1.describe().columns  #숫자데이터들의 컬럼들만 가져올슈있고
df1.describe().columns.to_list()   # 컬럼들을 리스트로 만들수있음

['바코드', '입고수량', '출고수량']

In [ ]:
total_lsit = df1.columns.to_list() # 컬럼들을 리스트로 만들고
number_list = df1.describe().columns.to_list()   # 수치형데이터들만 리스트러 만든다
obj_list   = list(set(total_lsit) - set(number_list))  #전체리스트에서 수치형데이터들을 빼주면   연속형 데이터들은 날아가고 범주형 데이터들만 남는다!
df1[obj_list].describe()   #범주형데이터들만 가져온다

       발주가능상태   카테고리          날짜     상품명
count   15000  15000       15000   15000
unique      3      8          84     528
top      발주가능   세탁세제  2019-05-26  V2_114
freq    14700   4265         226      47

In [ ]:
#날짜데이터 처리
df1.head()
df1.info()

df1["날짜"] # 날짜 데이터 처리  날짜형태로 바꾸기
df1["날짜_datatime"] = pd.to_datetime(df1["날짜"])
df1.head()
df1["년도"] = df1["날짜_datatime"].dt.year
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   날짜           15000 non-null  object
 1   상품명          15000 non-null  object
 2   바코드          14992 non-null  float64
 3   발주가능상태       15000 non-null  object
 4   입고수량         15000 non-null  int64
 5   카테고리         15000 non-null  object
 6   출고수량         15000 non-null  int64
 7   날짜_datatime  15000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 937.6+ KB

,날짜,상품명,바코드,발주가능상태,입고수량,카테고리,출고수량,날짜_datatime,년도
0,2019-05-16,V2_0,8.801047e+12,발주가능,384,세탁세제,72,2019-05-16,2019
1,2019-05-16,V2_3,8.801047e+12,발주가능,207,세탁세제,5,2019-05-16,2019
2,2019-05-16,V2_7,8.801047e+12,발주가능,520,헤어케어,19,2019-05-16,2019
3,2019-05-16,V2_11,8.801047e+12,발주가능,0,세탁세제,5,2019-05-16,2019
4,2019-05-16,V2_14,8.801046e+12,발주가능,96,세탁세제,1,2019-05-16,2019
...,...,...,...,...,...,...,...,...,...
14995,2019-08-07,V2_500,8.801046e+12,발주가능,24,세탁세제,3,2019-08-07,2019
14996,2019-08-07,V2_501,8.801046e+12,발주가능,0,세탁세제,7,2019-08-07,2019
14997,2019-08-07,V2_502,8.801046e+12,발주가능,66,세탁세제,16,2019-08-07,2019
14998,2019-08-07,V2_509,8.801046e+12,발주가능,64,세탁세제,6,2019-08-07,2019
14999,2019-08-07,V2_511,8.801046e+12,발주가능,25,세탁세제,0,2019-08-07,2019

In [31]:
pd.pivot_table(data=df1,index="년도",values="출고수량",aggfunc="sum")

        출고수량
년도
2019  108078

In [34]:
df1["년도"] = df1["날짜_datatime"].dt.month
df1["주차"] = df1["날짜_datatime"].dt.weekday
df1["일자"] = df1["날짜_datatime"].dt.day
df1["요일"] = df1["날짜_datatime"].dt.day_name()
df1

,날짜,상품명,바코드,발주가능상태,입고수량,카테고리,출고수량,날짜_datatime,년도,주차,일자,요일
0,2019-05-16,V2_0,8.801047e+12,발주가능,384,세탁세제,72,2019-05-16,5,3,16,Thursday
1,2019-05-16,V2_3,8.801047e+12,발주가능,207,세탁세제,5,2019-05-16,5,3,16,Thursday
2,2019-05-16,V2_7,8.801047e+12,발주가능,520,헤어케어,19,2019-05-16,5,3,16,Thursday
3,2019-05-16,V2_11,8.801047e+12,발주가능,0,세탁세제,5,2019-05-16,5,3,16,Thursday
4,2019-05-16,V2_14,8.801046e+12,발주가능,96,세탁세제,1,2019-05-16,5,3,16,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2019-08-07,V2_500,8.801046e+12,발주가능,24,세탁세제,3,2019-08-07,8,2,7,Wednesday
14996,2019-08-07,V2_501,8.801046e+12,발주가능,0,세탁세제,7,2019-08-07,8,2,7,Wednesday
14997,2019-08-07,V2_502,8.801046e+12,발주가능,66,세탁세제,16,2019-08-07,8,2,7,Wednesday
14998,2019-08-07,V2_509,8.801046e+12,발주가능,64,세탁세제,6,2019-08-07,8,2,7,Wednesday
14999,2019-08-07,V2_511,8.801046e+12,발주가능,25,세탁세제,0,2019-08-07,8,2,7,Wednesday

In [ ]:
df2 = pd.read_csv("Data02.csv")
df2["배송시작일"]   

pd.to_datetime(df2["배송시작일"]) #한글이 섞여있을때는 바로 처리할수가 없다

In [ ]:
def date_function(x):
    return x[:10]    #배송시작일이라는 데이터가 한줄씩 들어가면서  0번째 부터 9글짜까지 있는 글자 하나만 인덱싱해서 가져온다


#apply() 함수를 이용하자 시리즈데이터에서
df2["배송시작일(dateime)"]   = pd.to_datetime(df2["배송시작일"].apply(date_function))
df2["배송완료일(dateime)"]   = pd.to_datetime(df2["배송완료일"].apply(date_function))
df2.head()

#배송이 얼마나 걸렸는지 완료일에서 시작일을 빼면 걸린시간이 나옴
df2["배송시간"] = df2["배송완료일(dateime)"] - df2["배송시작일(dateime)"]
df2.head()  # 결과 배송시간 컬럼이 새로 추가

df2["배송시간"].describe()   #평균적으로 4일정도 걸린다  47일 걸린것도 았다 이런식으로 분석가능

count                        46749
mean     4 days 04:38:57.008278251
std      1 days 04:56:12.144368428
min                0 days 00:00:00
25%                4 days 00:00:00
50%                4 days 00:00:00
75%                4 days 00:00:00
max               47 days 00:00:00
Name: 배송시간, dtype: object

In [57]:
df2.head()

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일,배송시작일(dateime),배송완료일(dateime),배송시간
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227,2019-01-07,2019-01-11,4 days
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229,2019-01-03,2019-01-07,4 days
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230,2019-01-03,2019-01-07,4 days
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231,2019-01-03,2019-01-07,4 days
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231,2019-01-07,2019-01-11,4 days

In [65]:
df2["주문일"]   #정수형 

pd.to_datetime(df2["주문일"])  # 이상하게 출력하게됨 그래서

def date_function2(x):
    result = str(x)   #정수형으로는 인덱스를 구할수없기때문에 문자형으로 바꾼다음 인덱스를 구한다
    return result[:4] + "-" + result[4:6] + "-" + result[6:8]

df2["주문일"].apply(date_function2)

0        2018-12-27
1        2018-12-29
2        2018-12-30
3        2018-12-31
4        2018-12-31
            ...
46744    2017-12-29
46745    2017-12-29
46746    2017-12-30
46747    2017-12-31
46748    2017-12-31
Name: 주문일, Length: 46749, dtype: object